{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=MeetingManagement_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "met.AgendaTypes",
                    "Identifier": "AgendaType",
                    "Module": "Meeting",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Meeting"
                },
                {
                    "Tablename": "met.Contacts",
                    "Identifier": "Contact",
                    "Module": "Meeting",
                    "ConnectionKey": "Default"
                },
                {
                    "Tablename": "met.Locations",
                    "Identifier": "Location",
                    "Module": "Meeting",
                    "ConnectionKey": "Default"
                },
                {
                    "Tablename": "met.MeetingTypes",
                    "Identifier": "MeetingType",
                    "Module": "Meeting",
                    "ConnectionKey": "Default"
                },
                {
                    "Tablename": "met.Units",
                    "Identifier": "Unit",
                    "Module": "Meeting",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Meeting"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\MeetingManagement\\MeetingManagement.Web\\MeetingManagement.Web.csproj",
    "RootNamespace": "MeetingManagement",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false
}