
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Meeting.Unit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MeetingManagement.Meeting.UnitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>